h3 {
    font-size: 20px;
    font-weight: 500;
    color: #444444;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F3F3F2;
    padding: 70px;
}

.logo-name {
    margin-bottom: 1.5em;
}

nav ul {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 2em;
    margin: 0;
    padding: 0;
    list-style: none;
}


nav ul li a {
    text-decoration: none;
    color: #BBBBBB;
    font-size: 32px;
}

nav ul li a:hover {
    color: #444444;
    transition: ease-in-out 0.3s;
}