* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Enriqueta';
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    position: relataive;
    text-align: center;
    bottom: 0;
    padding: 1em;
    margin-top: 8em;
}
